<!doctype html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Styles -->
  <link rel="stylesheet" href="/static/styles.css">

  <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap" rel="stylesheet">

  <!-- Ionic icons -->
  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

  <title>Dashboard - Templune</title>
</head>

<body>
  <div class="d-flex" id="content-wrapper">

    <!-- Sidebar -->
    <div id="sidebar-container" class="bg-primary">
      <div class="logo">
        <img src="/static/image/nur_iso.png" alt="">
      </div>
      <div class="menu">
        <a href="#" class="d-block text-light p-3 border-0">
          Contaduria Pública</a>

        <a href="#" class="d-block text-light p-3 border-0" >
          Periodos</a>
        <a href="#" class="d-block text-light p-3 border-0" id="demo">
          2021-2</a>
        <a href="#" class="d-block text-light p-3 border-0" id="demo">
          2021-1</a>
        <a href="#" class="d-block text-light p-3 border-0" id="demo">
          2020-1</a>
      </div>
    </div>
    <!-- Fin sidebar -->


    <!-- Page Content -->
    <div class="container">
      <div class="content" id="tittle">
        <p>0701504 Erick Ronald German Mamani Aguilar</p>
      </div>

      <div id="content">
        <p>Notas 2021-2</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">CODIGO</th>
              <th scope="col">MATERIA</th>
              <th scope="col">DOCENTE</th>
              <th scope="col">TRAB</th>
              <th scope="col">CONT</th>
              <th scope="col">PAR1</th>
              <th scope="col">PAR2</th>
              <th scope="col">EX.FINAL</th>
              <th scope="col">N.FINAL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>050999</td>
              <td>Auditoría II</td>
              <td>VARGAS TICONA, RODRIGO</td>
              <td>10/20</td>
              <td>5/10</td>
              <td>20/20</td>
              <td>2/20</td>
              <td>15/30</td>
              <td>51/100</td>
            </tr>
            <tr>
              <td>050981</td>
              <td>Análisis de Normas de Auditoría</td>
              <td>BUATISTA SEPULVEDA, JUAN CARLOS</td>
              <td>3/20</td>
              <td>9/10</td>
              <td>14/20</td>
              <td>15/20</td>
              <td>27/30</td>
              <td>69/100</td>
            </tr>
            <tr>
              <td>050525</td>
              <td>Auditoría de Sistema de Información</td>
              <td>OPORTO NAVAJAS, WALDO MARTIN</td>
              <td>15/40</td>
              <td>6/10</td>
              <td>14/20</td>
              <td>0/0</td>
              <td>25/30</td>
              <td>60/100</td>
            </tr>
  
            <tr>
              <td>051911</td>
              <td>Taller de Graduación</td>
              <td>VARGAS MERCADO, GALO CASTO</td>
              <td>30/40</td>
              <td>10/10</td>
              <td>0/20</td>
              <td>0/0</td>
              <td>25/30</td>
              <td>65/100</td>
            </tr>
          </tbody>
        </table>
  
  
  
      </div>
  
      <div id="content">
        <p>Notas 2021-1</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">CODIGO</th>
              <th scope="col">MATERIA</th>
              <th scope="col">DOCENTE</th>
              <th scope="col">TRAB</th>
              <th scope="col">CONT</th>
              <th scope="col">PAR1</th>
              <th scope="col">PAR2</th>
              <th scope="col">EX.FINAL</th>
              <th scope="col">N.FINAL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>050494</td>
              <td>Finanzas I</td>
              <td>NACHO PEÑAFIEL, EDGARDO PABLO</td>
              <td>34/40</td>
              <td>3/10</td>
              <td>16/20</td>
              <td>0/0</td>
              <td>24/30</td>
              <td>77/100</td>
            </tr>

            <tr>
              <td>049451</td>
              <td>Idioma Extranjero I</td>
              <td>NACHO PEÑAFIEL, GUSTAVO ANGEL</td>
              <td>28/40</td>
              <td>0/10</td>
              <td>16/20</td>
              <td>0/0</td>
              <td>11/30</td>
              <td>55/100</td>
            </tr>

            <tr>
              <td>050436</td>
              <td>Investigación II</td>
              <td>GUTIERREZ BARRIOS, CHRISTIAN GABRIEL</td>
              <td>25/40</td>
              <td>0/10</td>
              <td>12/20</td>
              <td>0/0</td>
              <td>24/30</td>
              <td>61/100</td>
            </tr>

            <tr>
              <td>051000</td>
              <td>Taller de Actualización III</td>
              <td>SEMPERTEGUI RODRIGUEZ, MIJAHIL JAVIER</td>
              <td>30/40</td>
              <td>6/10</td>
              <td>15/20</td>
              <td>0/0</td>
              <td>25/30</td>
              <td>76/100</td>
            </tr>
          </tbody>
        </table>
  
  
  
      </div> 

      <div id="content">
        <p>Notas 2020-1</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">CODIGO</th>
              <th scope="col">MATERIA</th>
              <th scope="col">DOCENTE</th>
              <th scope="col">TRAB</th>
              <th scope="col">CONT</th>
              <th scope="col">PAR1</th>
              <th scope="col">PAR2</th>
              <th scope="col">EX.FINAL</th>
              <th scope="col">N.FINAL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>049477</td>
              <td>Auditoría I</td>
              <td>TORREZ DIAS, OSCAR ALFONSO</td>
              <td>10/20</td>
              <td>10/10</td>
              <td>19/20</td>
              <td>20/20</td>
              <td>8/30</td>
              <td>67/100</td>
            </tr>

            <tr>
              <td>049443</td>
              <td>Impuestos</td>
              <td>VARGAS TICONA, RODRIGO</td>
              <td>16/20</td>
              <td>5/10</td>
              <td>10/20</td>
              <td>20/20</td>
              <td>10/30</td>
              <td>61/100</td>
            </tr>

            <tr>
              <td>049469</td>
              <td>Investigación I</td>
              <td>MAMANI QUISBERTH, CRISTINA DEYSI</td>
              <td>3/15</td>
              <td>4/15</td>
              <td>13/20</td>
              <td>19/20</td>
              <td>27/30</td>
              <td>66/100</td>
            </tr>

            <tr>
              <td>049435</td>
              <td>Taller de Actualización II</td>
              <td>ALBARRACIN DECKER, MARTHA ELIZABETH</td>
              <td>40/40</td>
              <td>10/10</td>
              <td>20/20</td>
              <td>0/0</td>
              <td>25/30</td>
              <td>95/100</td>
            </tr>

            <tr>
              <td>049485</td>
              <td>Taller de Emprendedor para el Desarrollo</td>
              <td>CARDOZO MACEDA, RAUL HERNAN</td>
              <td>18/20</td>
              <td>6/10</td>
              <td>17/20</td>
              <td>14/20</td>
              <td>21/30</td>
              <td>76/100</td>
            </tr>
          </tbody>
        </table>
  
  
  
      </div> 
      
    </div>


  </div>



</body>

</html>